<template>
  <div
    class="ui modal"
    id="new-patient-modal"
  >
    <i class="close icon"></i>
    <div class="header">
      Ajouter un nouveau patient
    </div>
    <div class="content">
      <form
        class="ui form"
        @submit.prevent="submit"
      >
        <div class="fields">
          <div class="six wide required field">
            <label>Prénom</label>
            <input
              placeholder="Prénom"
              type="text"
              required
              v-model="firstname"
            >
          </div>
          <div class="six wide required field">
            <label>Nom</label>
            <input
              placeholder="Nom de famille"
              type="text"
              required
              v-model="lastname"
            >
          </div>
        </div>
        <div class="fields">
          <div class="two wide required field">
            <label>Pavillon</label>
            <dropdown-pavillons
              @pavillonChanged="updatePavillon"
            >
            </dropdown-pavillons>
          </div>
        </div>
        <div class="fields">
          <div class="six wide required field">
            <div
              class="ui toggle checkbox"
              :class="hasOrdinaryDiet ? 'checked' : ''"
              @click="toggleHasOrdinaryDiet"
            >
              <input
                name="hasOrdinaryDiet"
                class="hidden"
                type="checkbox"
                :checked="hasOrdinaryDiet"
              >
              <label>Régime ordinaire</label>
            </div>

            <dropdown-diets
              v-if="!hasOrdinaryDiet"
              @dietsChanged="updateDiets"
            ></dropdown-diets>
            <br/>

            <radio-eating-place
              :eatingPlace="eatingPlace"
              @updateEatingPlace="updateEatingPlace"
            ></radio-eating-place>
          </div>
        </div>
      </form>
    </div>
    <div class="actions">
      <div
        class="ui toggle checkbox"
        @click="toggleAddAnother"
      >
        <input
          name="addAnother"
          type="checkbox"
          class="hidden"
          tabindex="0"
          :checked="addAnother"
        >
        <label>Ajouter un autre ensuite</label>
      </div>

      <div
        class="ui red basic button"
        @click="cancel"
      >Anuler</div>

      <div
        class="ui primary button"
        :class="loading ? 'loading disabled' : ''"
        @click="submit"
      >OK</div>
    </div>
  </div>

</template>

<script>
import { mapActions, mapGetters } from 'vuex'

import DropdownDiets from '@/components/diets/DropdownDiets'
import DropdownPavillons from '@/components/pavillons/DropdownPavillons'
import RadioEatingPlace from './RadioEatingPlace'

import store from '@/store/Store'

export default {
  name: 'ModalNewPatient',
  store,
  data () {
    return {
      addAnother: false,
      firstname: '',
      lastname: '',
      hasOrdinaryDiet: true,
      dietsNewPatient: [],
      eatingPlace: 'SELF',
      pavillonNewPatient: null
    }
  },
  mounted () {
    // eslint-disable-next-line
    $('#new-patient-modal')
      .modal('setting', 'transition', 'scale')
  },
  methods: {
    ...mapActions({
      addPatient: 'PatientsStore/addPatient'
    }),
    toggleHasOrdinaryDiet () {
      this.hasOrdinaryDiet = !this.hasOrdinaryDiet
    },
    toggleAddAnother () {
      this.addAnother = !this.addAnother
    },
    updatePavillon (id) {
      this.pavillonNewPatient = { _id: id }
    },
    updateDiets (value) {
      this.dietsNewPatient = []
      if (value !== '') {
        value.split(',').forEach(dietId => {
          this.dietsNewPatient.push({ _id: dietId })
        })
      }
    },
    updateEatingPlace (place) {
      this.eatingPlace = place
    },
    cancel () {
      // eslint-disable-next-line
      $('#new-patient-modal')
        .modal('hide')
    },
    submit () {
      var self = this

      let patient = {
        firstname: this.firstname,
        lastname: this.lastname,
        hasOrdinaryDiet: this.hasOrdinaryDiet,
        diets: this.dietsNewPatient,
        eatingPlace: this.eatingPlace
      }
      if (this.pavillonNewPatient !== null) {
        patient.pavillon = this.pavillonNewPatient
      }

      this.addPatient(patient)
        .then((response) => {
          this.$toastr.s(patient.firstname + ' ' + patient.lastname + ' bien ajouté')
          if (!self.addAnother) {
            // eslint-disable-next-line
            $('#new-patient-modal')
              .modal('hide')
          }
          this.emptyModal()
        },
        (error) => {
          this.$toastr.e(error.response.data.message)
        })
    },
    emptyModal () {
      // vider les champs
      this.firstname = ''
      this.lastname = ''
      this.hasOrdinaryDiet = true
    }
  },
  computed: {
    ...mapGetters({
      loading: 'loading'
    })
  },
  components: {
    DropdownDiets,
    DropdownPavillons,
    RadioEatingPlace
  }
}
</script>
