<template>
  <div class="ui form">
    <div class="grouped fields">
      <div class="field">
        <div
          class="ui radio checkbox"
          @click="updatePeriod('LUNCH')"
        >
          <input
            :checked="period === 'LUNCH'"
            type="radio"
          >
          <label>Repas de midi</label>
        </div>
      </div>
      <div class="field">
        <div
          class="ui radio checkbox"
          @click="updatePeriod('DINNER')"
        >
          <input
            :checked="period === 'DINNER'"
            type="radio"
          >
          <label>Repas du soir</label>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import store from '@/store/Store'

export default {
  name: 'RadioPeriod',
  store,
  props: {
    period: String
  },
  methods: {
    updatePeriod (period) {
      this.$emit('updatePeriod', period)
    }
  }
}
</script>
