<template>
  <div class="item tiny">
    <div
      id="dropdown-language"
      class="ui simple dropdown"
    >

      <i class="world icon"></i>
      <span class="text">{{ currentLanguage }}</span>
      <div
        class="menu transition"
      >
        <div class="item">English</div>
        <div class="item">Français</div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'NavbarLanguage',
  data () {
    return {
      currentLanguage: 'Français' // TODO obtenir la langue depuis le store
    }
  },
  mounted () {
    // eslint-disable-next-line
    $('#dropdown-language').dropdown()
  },
  methods: {
  }
}
</script>
