<template>
  <div class="ui top huge borderless fixed fluid menu">
    <a
      class="item"
      @click="sidebarToggle"
    >
      <i class="sidebar icon"></i>
      Menu
    </a>

    <router-link to="/" class="item">
      <img src="/static/img/logo.png">
      <div class="header">{{ appName }}</div>
    </router-link>

    <div class="right menu">
      <!-- <navbar-language></navbar-language> -->

      <navbar-profile v-if="isAuthenticated"></navbar-profile>

      <div class="item" v-else>
        <router-link :to="{ name: 'login' }">Se connecter</router-link>
      </div>

    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import store from '@/store/Store'

import NavbarLanguage from './NavbarLanguage'
import NavbarProfile from './NavbarProfile'

export default {
  name: 'TheNavbar',
  store,
  data () {
    return {
      appName: store.state.appName
    }
  },
  methods: {
    sidebarToggle () {
      // eslint-disable-next-line
      $('#sidebar').sidebar('toggle')
    }
  },
  computed: {
    ...mapGetters({
      isAuthenticated: 'AuthStore/isAuthenticated'
    })
  },
  components: {
    NavbarLanguage,
    NavbarProfile
  }
}
</script>
