<template>
  <div
    class="ui selection dropdown"
    id="dropdown-roles"
  >
    <input
      name="role"
      type="hidden"
    >
    <div class="default text">
      Rôle
    </div>

    <div class="menu">
      <div
        class="item"
        :class="initialRole === role ? 'active selected' : ''"
        v-for="role in roles"
        :data-value="role"
        :key="role"
      >
        {{ role | computedRole }}
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'DropdownRoles',
  props: {
    initialRole: String
  },
  data () {
    return {
      roles: ['NURSE', 'DIETITIAN', 'DIETITIAN_CHIEF', 'RESPONSIBLE', 'ADMIN']
    }
  },
  mounted () {
    var self = this

    // eslint-disable-next-line
    $('#dropdown-roles')
      .dropdown({
        onChange (value, text, $selectedItem) {
          self.$emit('roleChanged', value)
        }
      })
  },
  methods: {
    itemDeleted () {
      // eslint-disable-next-line
      $('#dropdown-roles')
        .trigger('change')
    }
  }
}
</script>
