<template>
  <div
    class="ui tiny modal"
    id="modal-update-self"
  >
    <i class="close icon"></i>
    <div class="header">
      Modifier votre mot de passe
    </div>
    <div class="content">
      <form
        class="ui form"
        @submit.prevent="submit"
      >
        <div class="fields">
          <div class="twelve wide required field">
            <label>Ancien mot de passe</label>
            <input
              style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR4nGP6zwAAAgcBApocMXEAAAAASUVORK5CYII=&quot;);"
              autocomplete="off"
              type="password"
              required
              v-model="oldPassword"
            >
          </div>
        </div>
        <div class="fields">
          <div class="twelve wide required field">
            <label>Mot de passe</label>
            <input
              style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR4nGP6zwAAAgcBApocMXEAAAAASUVORK5CYII=&quot;);"
              autocomplete="off"
              type="password"
              required
              v-model="password"
            >
          </div>
        </div>
        <div class="fields">
          <div class="twelve wide required field">
            <label>Confirmation</label>
            <input
              style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR4nGP6zwAAAgcBApocMXEAAAAASUVORK5CYII=&quot;);"
              autocomplete="off"
              type="password"
              required
              v-model="passwordConf"
            >
          </div>
        </div>
      </form>
    </div>

    <div class="actions">
      <div
        class="ui red basic button"
        @click="cancel"
      >
        Annuler
      </div>

      <div
        class="ui primary button"
        :class="loading ? 'loading disabled' : ''"
        @click="submit"
      >
        OK
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import store from '@/store/Store'

export default {
  name: 'ModalUpdateSelf',
  store,
  data () {
    return {
      oldPassword: '',
      password: '',
      passwordConf: ''
    }
  },
  methods: {
    submit () {
      let user = {
        _id: this.authUser._id,
        username: this.authUser.username,
        oldPassword: this.oldPassword,
        password: this.password,
        passwordConf: this.passwordConf
      }

      store.dispatch('UsersStore/updateUser', user)
        .then((response) => {
          this.$toastr.s(' Mot de passe bien mis à jour')
        },
        (error) => {
          this.$toastr.e(error.response.data.message)
        })
        .then(_ => {
          // eslint-disable-next-line
          $('#modal-update-self')
            .modal('hide')
        })
    },
    cancel () {
      // eslint-disable-next-line
      $('#modal-update-self')
        .modal('hide')
    }
  },
  computed: {
    ...mapGetters({
      loading: 'loading',
      authUser: 'AuthStore/authUser'
    })
  }
}
</script>
