<template>
  <div
    class="card"
    :class="editing ? 'orange' : ''"
  >
    <div class="content">
      <div class="header">
        <div class="ui fluid input transparent">
          <input
            type="text"
            v-model="data_firstname"
            placeholder="Prénom"
          >
        </div>
        <div class="ui fluid input transparent">
          <input
            type="text"
            v-model="data_lastname"
            placeholder="Nom"
          >
        </div>
      </div>
      <div class="meta">{{ user.role | computedRole }}{{ user.pavillon ? ' pav. ' + user.pavillon.name : '' }}</div>

      <div class="ui fluid input transparent">
        <input
          type="text"
          v-model="data_username"
          placeholder="Nom d'utilisateur"
        >
      </div>
      <br/>

      <div
        v-if="editing"
        class="description"
      >

        <div class="ui fluid input transparent">
          <input
            style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR4nGP6zwAAAgcBApocMXEAAAAASUVORK5CYII=&quot;);"
            autocomplete="off"
            type="password"
            v-model="data_password"
            placeholder="Mot de passe"
          >
        </div>

        <div class="ui fluid input transparent">
          <input
            style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR4nGP6zwAAAgcBApocMXEAAAAASUVORK5CYII=&quot;);"
            autocomplete="off"
            type="password"
            v-model="data_passwordConf"
            placeholder="Confirmation mdp"
          >
        </div>
        <br/>
        <!-- <dropdown-roles
          :initialRole="role"
          @roleChanged="updateRole"
        >
        </dropdown-roles> -->

        <dropdown-pavillons
          @pavillonChanged="updatePavillon"
        >
        </dropdown-pavillons>
      </div>
      <br/>

      <div class="ui small basic icon right floated buttons">
        <div
          class="ui button"
          @click="remove"
        >
          <i class="ui red trash icon"></i>
        </div>
        <div
          class="ui button"
          v-show="editing"
          @click="validateUpdate"
        >
          <i class="ui green save icon"></i>
        </div>
        <div
          class="ui button"
          @click="editMode"
        >
          <i class="ui orange pencil icon"></i>
        </div>
      </div>

    </div>

  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import store from '@/store/Store'
import DropdownPavillons from '@/components/pavillons/DropdownPavillons'
import DropdownRoles from '@/components/users/DropdownRoles'

export default {
  name: 'UserCard',
  store,
  props: {
    user: Object
  },
  data () {
    return {
      editing: false,
      data_firstname: this.user.firstname,
      data_lastname: this.user.lastname,
      data_username: this.user.username,
      data_password: '',
      data_passwordConf: '',
      data_role: this.user.role,
      data_pavillon: this.user.pavillon
    }
  },
  watch: {
    data_firstname () {
      this.editing = true
    },
    data_lastname () {
      this.editing = true
    },
    data_username () {
      this.editing = true
    },
    data_password () {
      this.editing = true
    },
    data_passwordConf () {
      this.editing = true
    }
  },
  methods: {
    editMode () {
      this.editing = true
    },
    updateRole (role) {
      this.editing = true
      this.data_role = role
    },
    updatePavillon (id) {
      this.editing = true
      if (!this.data_pavillon) {
        this.data_pavillon = {}
      }
      this.data_pavillon._id = id
      console.log('tamer la grosse pute')
    },
    remove () {
      if (this.user.username === this.authUser.username) {
        this.$toastr.e('Vous ne pouvez pas vous supprimer vous-même')
      } else {
        this.$emit('removeUser', this.user._id) // catché dans Users.vue
      }
    },
    validateUpdate () {
      let user = {
        _id: this.user._id,
        firstname: this.data_firstname,
        lastname: this.data_lastname,
        username: this.data_username,
        password: this.data_password,
        passwordConf: this.data_passwordConf,
        role: this.data_role,
        pavillon: this.data_pavillon
      }

      store.dispatch('UsersStore/updateUser', user)
        .then((response) => {
          this.editing = false
          this.$toastr.s((response.firstname && response.lastname ? response.firstname + ' ' + response.lastname : response.username) + ' bien modifié')
        },
        (error) => {
          this.$toastr.e(error.response.data.message)
        })
    }
  },
  computed: {
    ...mapGetters({
      authUser: 'AuthStore/authUser'
    }),
    fullname () {
      return this.data_firstname + ' ' + this.data_lastname
    }
  },
  components: {
    DropdownPavillons,
    DropdownRoles
  }
}
</script>
