<template>
  <div class="ui middle center aligned grid">
    <div class="container">
      <h2 class="ui blue image header">
        <img
          src="/static/img/logo.png"
          class="image"
        >
        <div class="content">
          Administration
        </div>
      </h2>

      <h3>Administration des commandes</h3>
      <router-link :to="{ name: 'lotd' }"><h4>Gérer de la liste du jour</h4></router-link>
      <!-- <router-link :to="{ name: 'history' }"><h4>Consultation de l'historique des commandes</h4></router-link> -->

      <h3>Administration des pavillons</h3>
      <router-link :to="{ name: 'pavillons' }"><h4>Gestion des pavillons</h4></router-link>
      <router-link :to="{ name: 'users' }"><h4>Gestion des utlisateurs</h4></router-link>
      <router-link :to="{ name: 'patients' }"><h4>Gestion des patients</h4></router-link>

      <h3>Administration de la diététique</h3>
      <!-- <router-link :to="{ name: 'calendar' }"><h4>Gestion du calendrier de repas</h4></router-link> -->
      <router-link :to="{ name: 'diets' }"><h4>Gestion des régimes</h4></router-link>
      <router-link :to="{ name: 'meals' }"><h4>Gestion des repas</h4></router-link>
      <router-link :to="{ name: 'menus' }"><h4>Gestion des menus</h4></router-link>

    </div>
  </div>
</template>

<script>
import store from '@/store/Store'

export default {
  name: 'Admin',
  store,
  data () {
    return {
    }
  }
}
</script>
