<template>
  <div>
    <calendar v-if="authUser.role === 'NURSE'"></calendar>
    <diets v-if="authUser.role === 'DIETITIAN'"></diets>
    <menus v-if="authUser.role === 'DIETITIAN_CHIEF'"></menus>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

import store from '@/store/Store'
import Calendar from '@/components/calendar/Calendar'
import Diets from '@/components/diets/Diets'
import Menus from '@/components/menus/Menus'

export default {
  name: 'HomeSecondary',
  store,
  data () {
    return {
    }
  },
  mounted () {
  },
  computed: {
    ...mapGetters({
      authUser: 'AuthStore/authUser'
    })
  },
  components: {
    Calendar,
    Diets,
    Menus
  }
}
</script>
