<template>
  <div></div>
</template>

<script>
import store from '@/store/Store'

export default {
  name: 'Logout',
  store,
  mounted () {
    if (store.isAuthenticated) {
      this.$store.dispatch('AuthStore/logout').then(
        _ => {
          this.$toastr.s('Au revoir')
          this.$router.push({ name: 'login' })
        },
        (error) => {
          this.$toastr.e(error)
        })
    }
  }
}
</script>
