<template>
  <div>
    <div
      class="ui search selection dropdown"
      :id="id"
      :class="loading ? 'loading disabled' : ''"
    >
      <input
        name="menus-dropdown"
        type="hidden"
      >
      <i class="dropdown icon"></i>
      <div class="default text">Sélectionnez un menu</div>
      <div class="menu">
        <div
          class="item"
          v-for="menu in menus"
          :key="menu._id"
          :data-value="menu._id"
        >
          {{ menu.dishes.join(' - ') }}
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import store from '@/store/Store'
import MenusStore from '@/store/modules/menus/MenusStore'

export default {
  name: 'DropdownMenus',
  store,
  props: {
    initialMenus: Array
  },
  data () {
    return {
      id: 'dropdown' + Math.floor(Math.random() * 10000000)
    }
  },
  beforeCreate () {
    if (MenusStore.getters.count(MenusStore.state) === 0) {
      store.dispatch('MenusStore/loadMenus')
        .then(
          (response) => {
            this.initDropdown()
          },
          (error) => {
            this.$toastr.e(error.response.data.message)
          }
        )
    }
  },
  mounted () {
    this.initDropdown()
  },
  methods: {
    initDropdown () {
      var self = this
      // eslint-disable-next-line
      $('#' + this.id)
        .dropdown({
          onChange (value, text, $selectedItem) {
            self.$emit('menuChanged', value)
          }
        })
    }
  },
  computed: {
    ...mapGetters({
      menus: 'MenusStore/menus',
      loading: 'loading'
    })
  }
}
</script>
