<template>
  <div>
    <br/>

    <h4>
      Variantes de <i>{{ menuBase.dishes ? menuBase.dishes.join(', ') : ''}}</i>
    </h4>
    <table class="ui compact grey table">
      <tbody>
        <tr
          v-for="variant in variants"
          :key="variant._id"
        >
          <td class="positive">
            {{ variant.diet.name }}
            <div class="ui tiny basic icon right floated buttons">
              <div
                class="ui button"
                @click="remove(variant._id)"
              >
                <i class="ui red trash icon"></i>
              </div>
              <!-- <div
                class="ui button"
                @click="validateUpdate(variant._id)"
              >
                <i class="ui green save icon"></i>
              </div> -->
            </div>
          </td>
          <td>
            {{ variant.dishes.join(', ') }}
          </td>
        </tr>
      </tbody>
    </table>
    <br/>
  </div>
</template>

<script>
import store from '@/store/Store'
import MenusStore from '@/store/modules/menus/MenusStore'

export default {
  name: 'MenuVariants',
  store,
  props: {
    menuBaseId: String,
    variants: Array
  },
  data () {
    return {
      menuBase: Object
    }
  },
  mounted () {
    this.menuBase = MenusStore.getters.menuById(MenusStore.state)(this.menuBaseId)
  },
  methods: {
    remove (id) {
      this.$emit('removeVariant', id) // catché dans Menus.vue
    }
    // validateUpdate (id) {
    //   // var self = this

    //   // let variant = {
    //   //   diet: { _id: this.diet },
    //   //   dishes: this.dishes.split('-'),
    //   //   menuBase: this.menuBase
    //   // }

    //   // console.log('new variant: ', variant)

    //   // this.addVariant(variant)
    //   //   .then((response) => {
    //   //     this.$toastr.s(' bien ajouté')
    //   //     if (!self.addAnother) {
    //   //       // eslint-disable-next-line
    //   //       $('#new-variant-modal')
    //   //         .modal('hide')
    //   //     }
    //   //     this.emptyModal()
    //   //   },
    //   //   (error) => {
    //   //     this.$toastr.e(error.response.data.message)
    //   //   })
    // },
  },
  computed: {
    // menuBase: MenusStore.getters.menuById(MenusStore.state)(this.menuBaseId)
  }
}
</script>
