<template>
  <div>
    <div
      class="ui fluid search selection dropdown"
      :id="id"
      :class="loading ? 'loading disabled' : ''"
    >
      <input
        name="diet-dropdown-input"
        type="hidden"
      >
      <i class="dropdown icon"></i>
      <div class="default text">Sélectionnez un régime</div>
      <div class="menu">
        <div
          class="item"
          v-for="diet in dietsAvailable"
          :key="diet._id"
          :data-value="diet._id"
        >
          {{ diet.name }}
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import store from '@/store/Store'
import { mapGetters } from 'vuex'
import DietsStore from '@/store/modules/diets/DietsStore'

export default {
  name: 'DropdownDiet',
  store,
  props: {
    initialDiets: Array
  },
  data () {
    return {
      id: 'dropdown' + Math.floor(Math.random() * 10000000)
    }
  },
  beforeCreate () {
    if (DietsStore.getters.count(DietsStore.state) === 0) {
      store.dispatch('DietsStore/loadDiets')
        .then(
          (response) => {
            this.initDropdown()
          },
          (error) => {
            this.$toastr.e(error.response.data.message)
          }
        )
    }
  },
  mounted () {
    this.initDropdown()
  },
  methods: {
    initDropdown () {
      var self = this

      // eslint-disable-next-line
      $('#' + this.id)
        .dropdown({
          onChange (value, text, $selectedItem) {
            self.$emit('dietChanged', value)
          }
        })
    }
  },
  computed: {
    ...mapGetters({
      loading: 'loading',
      dietsAvailable: 'DietsStore/diets'
    })
  }
}
</script>
